@model AttachmentViewModel

@using (Html.BeginForm("AddAttachment", "Attachments", new { ticketId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file"/>
        @Html.ValidationMessageFor(p => p.file)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
    @Html.Hidden("Id", Model.Id)
}
