@model List<ApplicationUser>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("UserManager", "Users")">User Manager</a>
    </li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-users"></i>
        User List
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped display" id="dataTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th>Project Manager</th>
                        <th>Developer</th>
                        <th>Submitter</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th>Project Manager</th>
                        <th>Developer</th>
                        <th>Submitter</th>
                    </tr>
                </tfoot>
                <tbody class="text-primary">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @user.DisplayName
                            </td>
                            <td>
                                @user.Email
                            </td>
                            @Html.Action("Roles", "Roles", new { id = user.Id })
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>