<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "Home")">Dashboard</a>
    </li>
</ol>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-4">Welcome To BugTracker</h1>
            <p class="lead">This is a simple Web Application used for tracking Bugs, Feautures and Updates in a Project.</p>
            <hr class="my-4">
            <p>You can Easily Create Projects, Add Members to a Project, Generate Tickets for it and Keep Track of Your Project History.</p>
        </div>
    </div>
</div>