<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Login", "Account")">Login</a>
    </li>
</ol>

<div>
    <p>
        Thank you for Registering. Please Check Your Email to Confirm your Email Address. @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>