
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <span>Forgot Password Confirmation</span>
</li>
</ol>

<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

